{% extends "base.html" %} {% block title %}Browse{% endblock %}

{% block content %}
</div>
<br />
<h1 align="center">Browse Community Posts</h1>
<br />

<!--
Sort by:
Most liked
Newest
Oldest

Filter:
Title
Username
Content
-->
<div class="row justify-content-center">
    <form method="POST" enctype="multipart/form-data" id="postWriting" class="col-md-4 mb-3">
        <div class="d-flex">
            <input id="search" name="search" class="form-control me-2 col-md-8" type="search" placeholder="Search" aria-label="Search" value= {{ search }}>
            <div class="btn-group" role="group">

                <button class="btn btn-outline-success" type="submit" id="search_button" name="search_button" value="clicked">Search</button>

                <div class="btn-group" role="group">
                    <select  class="btn dropdown-toggle btn-outline-success" data-bs-toggle="dropdown" aria-expanded="false" name="filter" id="filter">
                        <option class="dropdown-item" onclick="changeDropdownText('All Notes ')" value="0" {% if search_filter == '0' %} selected {% endif %}>All Notes</option>
                        <option class="dropdown-item" onclick="changeDropdownText('by Title ')" value="1" {% if search_filter == '1' %} selected {% endif %}>by Title</option>
                        <option class="dropdown-item" onclick="changeDropdownText('by Content ')" value="2" {% if search_filter == '2' %} selected {% endif %}>by Content</option>
                        <option class="dropdown-item" onclick="changeDropdownText('by User ')" value="3" {% if search_filter == '3' %} selected {% endif %}>by User</option>
                    </select>
                </div>
                <div class="btn-group" role="group">
                    <select  class="btn dropdown-toggle btn-outline-success" data-bs-toggle="dropdown" aria-expanded="false" name="sorting" id="sorting">
                        <option class="dropdown-item" onclick="changeDropdownText('newest')" value="1" {% if sorting == 1 %} selected {% endif %}>Newest</option>
                        <option class="dropdown-item" onclick="changeDropdownText('oldest')" value="2" {% if sorting == 2 %} selected {% endif %}>Oldest</option>
                    </select>
                </div>
            </div>
        </div>
        <script>
          function changeDropdownText(text) {
            const dropdownButton = document.querySelector('.btn.dropdown-toggle');
            dropdownButton.textContent = text;
          }
        </script>
        <br/>
    </form>
</div>
<br/>

{% for note in sorted_notes %}
    {% set myuser = allUsers | get_user_by_id(note.user_id) %}
    <ul class="list-group list-group-flush mb-3 align-items-center justify-content-center" id="notes">
    {% if note.visibility == 1 %}
    {% if note.presentInSearch == True %}
    <div class="card mb-3">
    <!-- Header Section -->
        <div style="background: #D6EAF8; border-radius: 5px 5px 0px 0px; padding: 10px; display: flex;">
            <a href="{{ url_for('auth.user_profile', username=myuser.first_name) }}"> <img src="{{ url_for('static', filename='uploads/' + myuser.profile_photo) }}" alt="profile photo" style="border-radius:50%; height: 37px; width: 37px; object-fit: cover; border: 2px solid #5DADE2;" > </a>
            <div style="font-size: 23px; margin-left: 10px;">
                <a class="profile-link" href="{{ url_for('auth.user_profile', username=myuser.first_name) }}">{{ myuser.first_name }}</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row g-0">
                <!-- Image Section (If Available) -->
                {% if note.image %}
                    <div class="col-md-4" style="padding-right: 20px; scale: 1.05">
                        <img src="{{ url_for('static', filename='uploads/' + note.image) }}" class="img-fluid rounded" alt="Image">
                    </div>
                {% endif %}
                <!-- Text Section -->
                <div class="{% if note.image %}col-md-8{% else %}col-md-12{% endif %}">
                    <h4 class="card-title">{{ note.title }}</h4>
                    <p class="card-text">{{ note.data }}</p>
                </div>
            </div>
        </div>
        <!-- Footer Section -->
        <div class="card-footer">
            <div class="row">
                <div class="col-md-9">
                    <p class="card-text">
                        <small class="text-body-secondary">
                            {% if note.visibility == 2 %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16" style="opacity: 0.5;">
                                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                                </svg>
                            {% endif %}
                            {{ note.dateParsed }}
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
</ul>
{% endfor %}


{% endblock %}