{% extends "base.html" %} {% block title %}Browse{% endblock %}

{% block content %}
<br />
<h1 align="center">Browse Community Posts</h1>
<br />

<!--
Sort by:
Most liked
Newest
Oldest

Filter:
Title
Username
Content
-->
<div class="row justify-content-center">
    <form method="POST" enctype="multipart/form-data" id="postWriting" class="col-md-4 mb-3">
        <div class="d-flex">
            <input id="search" name="search" class="form-control me-2 col-md-8" type="search" placeholder="Search" aria-label="Search" value= {{ search }}>
            <div class="btn-group" role="group">

                <button class="btn btn-outline-success" type="submit" id="search_button" name="search_button" value="clicked">Search</button>

                <div class="btn-group" role="group">
                    <select  class="btn dropdown-toggle btn-outline-success" data-bs-toggle="dropdown" aria-expanded="false" name="filter" id="filter">
                        <option class="dropdown-item" onclick="changeDropdownText('by Title ')" value="1" {% if search_filter == '1' %} selected {% endif %}>by Title</option>
                        <option class="dropdown-item" onclick="changeDropdownText('by Content ')" value="2" {% if search_filter == '2' %} selected {% endif %}>by Content</option>
                        <option class="dropdown-item" onclick="changeDropdownText('by User ')" value="3" {% if search_filter == '3' %} selected {% endif %}>by User</option>
                    </select>
                </div>
                <div class="btn-group" role="group">
                    <select  class="btn dropdown-toggle btn-outline-success" data-bs-toggle="dropdown" aria-expanded="false" name="sorting" id="sorting">
                        <option class="dropdown-item" onclick="changeDropdownText('newest')" value="1" {% if sorting == 1 %} selected {% endif %}>Newest</option>
                        <option class="dropdown-item" onclick="changeDropdownText('oldest')" value="2" {% if sorting == 2 %} selected {% endif %}>Oldest</option>
                    </select>
                </div>
            </div>
        </div>
        <script>
          function changeDropdownText(text) {
            const dropdownButton = document.querySelector('.btn.dropdown-toggle');
            dropdownButton.textContent = text;
          }
        </script>
        <br/>
    </form>
</div>
<br/>

{% for note in sorted_notes %}
    {% set myuser = allUsers | get_user_by_id(note.user_id) %}
    <ul class="list-group list-group-flush mb-3 align-items-center justify-content-center" id="notes">
    {% if note.visibility == 1 %}
    {% if note.presentInSearch == True %}
    <div class="card mb-3" style="max-width: 800px; min-width: 400px;">
      <div style="background: #D6EAF8; border-radius: 5px 5px 0px 0px; padding: 10px;">
          <img src="static/images/linkedin-1.jpg" alt="profile photo" style="border-radius:50%; height: 25px; border: 2px solid #fff;">
          {{ myuser.first_name }}
      </div>
      <div class="row g-0">
        {% if note.image %}
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='uploads/' + note.image) }}" style="width: auto; max-width: 240px; height: auto; min-height: 152px; border-radius: 0px 5px 5px 5px;" alt="Image">
        </div>
        {% endif %}
        <div class="{% if note.image %}col-md-8{% else %}col-md-10.5{% endif %}">
            <div class="card-body d-flex flex-column h-100" style="{% if note.imageWidth > note.imageHeight %} padding-left:4rem; {% else %} padding-left: 2rem; min-width:460px{% endif %}">
                <h5 class="card-title">{{ note.title }}</h5>
                <p class="card-text">{{ note.data }}</p>
                <div class="mt-auto">
                    <div class="row">
                        <div class="col-md-9">
                            {% if myuser %}
                                <p class="card-text"><small class="text-body-secondary">{{ note.dateParsed }} by {{ myuser.first_name }}</small></p>
                            {% endif %}
                        </div>
                        <div class="col-md-3">
                            {% if myuser and user.first_name == myuser.first_name %}
                            <button type="button" class="close pb-3 delete-button" align="right" onClick="deleteNote({{note.id}})" style="font-size: 1rem; margin-top: 5px;" style="opacity: 0;">
                                <span aria-hidden="true"><i class="fas fa-trash-alt"></i></span>
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endif %}
</ul>
{% endfor %}


{% endblock %}