{% extends "base.html" %} {% block title %}Browse{% endblock %}

{% block content %}
<br />
<h1 align="center">Browse</h1>
<br />

<!--
Sort by:
Most liked
Newest
Oldest

Filter:
Title
Username
Content
-->

<form method="POST" enctype="multipart/form-data" id="postWriting">
  <div class="mb-3 col-md-2">
      <select name="sorting" id="sorting" class="form-select" aria-label="Default select example">
        <option value = "1" {% if sorting == 1 %} selected {%endif%}>Newest</option>
        <option value="2"  {% if sorting == 2 %} selected {%endif%}>Oldest</option>
      </select>
  </div>
  <div class="col-md-4">
      <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>
{% for note in sorted_notes %}
    <ul class="list-group list-group-flush mb-3 align-items-center justify-content-center" id="notes">
    {% if note.visibility == 1 %}
    <div class="card mb-3" style="max-width: 800px; min-width: 400px;">
      <div class="row g-0">
        {% if note.image %}
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='uploads/' + note.image) }}" style="width: auto; max-width: 240px; height: auto; min-height: 152px; border-radius: 3%;" alt="Image">
        </div>
        {% endif %}
        <div class="{% if note.image %}col-md-8{% else %}col-md-10.5{% endif %}">
            <div class="card-body d-flex flex-column h-100" style="{% if note.imageWidth > note.imageHeight %} padding-left:4rem; {% else %} padding-left: 2rem; min-width:460px{% endif %}">
                <h5 class="card-title">{{ note.title }}</h5>
                <p class="card-text">{{ note.data }}</p>
                <div class="mt-auto">
                    <div class="row">
                        <div class="col-md-9">
                            {% set myuser = user.query.get(note.user_id) %}
                            <p class="card-text"><small class="text-body-secondary">{{ note.dateParsed }} by {{ myuser.first_name }}</small></p>
                        </div>
                        {% set myuser = user.query.get(note.user_id) %}
                        {% if user.first_name == myuser.first_name %}
                        <div class="col-md-3">
                            <button type="button" class="close pb-3 delete-button" align="right" onClick="deleteNote({{note.id}})" style="font-size: 1rem; margin-top: 5px;" style="opacity: 0;">
                                <span aria-hidden="true"><i class="fas fa-trash-alt"></i></span>
                            </button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    {% endif %}
<br/>
</ul>
{% endfor %}
<!--
{% for note in sorted_notes %}
  <h3>{{ note.title }}</h3>
  <h3>{{ note.data }}</h3>
  {% set myuser = user.query.get(note.user_id) %}
  <p>By: {{ myuser.first_name }}</p>
{% endfor %}
-->


{% endblock %}