{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<br />
<h1 align="center">{{ user.first_name }}'s Posts</h1>
<br />
<!--
<p>Users:</p>
{% for user in allUsers %}
<p>{{ user.first_name }}</p>
{% endfor %}
-->
<div class="mb-3 align-items-center justify-content-center" align="center">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#postWriting" aria-expanded="false" aria-controls="postWriting">
    Write a new Post
    </button>
</div>
<br />
<form method="POST" enctype="multipart/form-data" class="collapse" id="postWriting">
    <div class="form-group form-floating mb-3">
        <input class="form-control" id="title" name="title" placeholder="Enter title" maxlength="25"/>
        <label for="title" class="text-muted">Title your post!</label>
    </div>
    <div class="form-floating mb-3">
        <textarea name="note" id="note" class="form-control" placeholder="Write Anything" maxlength="1500" style="height: 100px;"></textarea>
        <label for="note" class="text-muted">Write anything...</label>
        <p id="counter">1500</p>
    </div>
    <br />
    <div class="row">
        <div class="mb-3 col-md-4">
            <input name="image" id="image" type="file" class="form-control" aria-label="file example" accept="image/*">
            <div class="invalid-feedback">Example invalid form file feedback</div>
        </div>
        <div class="mb-3 col-md-2">
            <select name="visibility" id="visibility" class="form-select" aria-label="Default select example">
              <option value = "1" selected>Public</option>
              <option value="2">Private</option>
            </select>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Add Note</button>
        </div>
    </div>
</form>
<br />
<ul class="list-group list-group-flush mb-3 align-items-center justify-content-center" id="notes">
    {% for note in reversed_notes %}
    <div class="card mb-3" style="max-width: 800px; min-width: 400px;">
      <div class="row g-0">
        {% if note.image %}
        <div class="col-md-4">
                <img src="{{ url_for('static', filename='uploads/' + note.image) }}" style="width: auto; max-width: 240px; height: auto; min-height: 152px; border-radius: 3%;" alt="Image">
        </div>
        {% endif %}
        <div class="{% if note.image %}col-md-8{% else %}col-md-10.5{% endif %}">
            <div class="card-body d-flex flex-column h-100" style="{% if note.imageWidth > note.imageHeight %}{% if note.titleLength > 15 %}padding-left:2rem; padding-right:3rem;{% else %}padding-left:4rem;{% endif %} {% else %} padding-left: 2rem; min-width:460px{% endif %}">
                <h5 class="card-title">{{ note.title }}</h5>
                <p class="card-text">{{ note.data }}</p>
                <div class="mt-auto">
                    <div class="row">
                        <div class="col-md-9">
                            <p class="card-text"><small class="text-body-secondary">{{ note.dateParsed }} by {{ user.first_name }}</small></p>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="close pb-3 delete-button" align="right" onClick="deleteNote({{note.id}})" style="font-size: 1rem; margin-top: 5px;" style="opacity: 0;">
                                <span aria-hidden="true"><i class="fas fa-trash-alt"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    {% endfor %}
<br/>
</ul>
{% endblock %}